<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/css/sushi_style.css">
    <title>SUSHI</title>
</head>

<body>
    <main id="big_container"></main>
    <h2 id="title">Eat Sushi Now</h2>
    {{{ body }}}
</body>

</html>