<main class="eighty mx-auto row d-flex justify-content-center">

    <div class="sushiTable mx-auto">
        <h2 class="text-center">Ready to eat</h2>
        <table class="table table-borderless">
            <tbody>
                {{#each sushi}}
                {{#unless eaten}}
                <tr>
                    <td>{{name}}</td>
                    <td><button class="btn btn-primary eatenBtn" data-id="{{id}}">
                            EAT!
                        </button></td>
                </tr>
                {{/unless}}
                {{/each}}
            </tbody>
        </table>
    </div>


    <div class="sushiTable mx-auto">
        <h2 class="text-center">Already Eaten</h2>
        {{#each sushi}}
        {{#if eaten}}
        <p class="text-center" style="margin-top: 20px;">{{name}}</p>
        {{/if}}
        {{/each}}
    </div>

</main>